* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuitem {
    width: 178px;
    height: 40px;
    left: 2px;
    top: 175px;

    padding-left: 20px;

    background: #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #808080;
}

.menuitem:hover, a:hover{
    background: #808080;
    color: #D9D9D9;
}

.bottommenuitem {
    margin-bottom: 8px;
}

img {
    height: 30px;
    width: 38px;
    padding-right: 10px;
    margin-top: 5px;
    display: inlineblock;
    padding-top: 8px;
}

p {
    display: inline;
    line-height: -20px;
}

a {
    color: #808080;
    text-decoration: none;
}


